@*

@model IEnumerable<MakeMyBill.Models.ProductSubCategoryMaster>
@{
    ViewData["Title"] = "CompanyViewSubCategory";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link href="~/home/css/bootstrap.min.css" rel="stylesheet">
<link href="~/home/css/fontawesome-all.min.css" rel="stylesheet">
<link href="~/home/css/aos.min.css" rel="stylesheet">
<link href="~/home/css/swiper.css" rel="stylesheet">
<link href="~/home/css/style.css" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" href="~/home/assets/images/favicon.png">
<!-- Scripts -->
<script src="~/home/js/bootstrap.min.js"></script><!-- Bootstrap framework -->
<script src="~/home/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
<script src="~/home/js/swiper.min.js"></script><!-- Swiper for image and text sliders -->
<script src="~/home/js/aos.js"></script><!-- AOS on Animation Scroll -->
<script src="~/home/js/script.js"></script>  <!-- Custom scripts -->
<style>
           .btn {
  color: white;
  background-color: black;
  }
</style>
<!-- Navigation -->

<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo -->
        <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" href="@Url.Action("CompanyHome","Company")">MakeMyBill</a>
       

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

          <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" style="text-align: center" > 
          <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault" >
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Home","Login")" onclick="return confirm('Want To Log Out?')">Log Out</a>
                    </li>
                    </ul>
                    <div></div>
               

            
                   
     
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->
<br />
<br />
<br />
<a type="button" class="btn btn-dark" href="@Url.Action("CompanyAddNewSubCategory","Company",new {Catid = @TempData["Catid"]})">Add-New</a>
<br /><br />
<table id="details" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Catid</th>
            <th>SubCatname</th>
            <th>SubCatimage</th>
            <th>Description</th>
            <th>PPU</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Scid
                </td>
                <td>
                    @user.Scname
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(user.Scimage))
                    {
                        <img style="width:100px; height:100px;" src="@Url.Content(user.Scimage)">
                    }                    
                    
                </td>
                <td>
                    @user.Scdesc
                </td>
                <td>
                    @user.Scpriceperunit
                </td>

             
               <td>
                    <a type="button" class="btn btn-dark" href="@Url.Action("CompanyEditSubCategory","Company",new {Scid = user.Scid})">Edit</a> &nbsp;
                    <a type="button" class="btn btn-dark" href="@Url.Action("CompanyDeleteSubCategory","Company", new {Scid = user.Scid})" onclick="return confirm('Are you sure to delete?')">Delete</a>  
                </td>
                
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
            $(document).ready(function() {
        $('#details').DataTable();
    } );
</script>



*@

@model IEnumerable<MakeMyBill.Models.ProductSubCategoryMaster>
@{
    ViewData["Title"] = "CompanyViewSubCategory";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link href="~/home/css/bootstrap.min.css" rel="stylesheet">
<link href="~/home/css/fontawesome-all.min.css" rel="stylesheet">
<link href="~/home/css/aos.min.css" rel="stylesheet">
<link href="~/home/css/swiper.css" rel="stylesheet">
<link href="~/home/css/style.css" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" href="~/home/assets/images/favicon.png">
<!-- Scripts -->
<script src="~/home/js/bootstrap.min.js"></script><!-- Bootstrap framework -->
<script src="~/home/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
<script src="~/home/js/swiper.min.js"></script><!-- Swiper for image and text sliders -->
<script src="~/home/js/aos.js"></script><!-- AOS on Animation Scroll -->
<script src="~/home/js/script.js"></script>  <!-- Custom scripts -->
<style>
           .btn {
  color: white;
  background-color: black;
  }
</style>
<!-- Navigation -->

<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo -->
        <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" href="@Url.Action("CompanyHome","Company")">MakeMyBill</a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
              
                    

            <span class="nav-item social-icons ms-auto">
            @*    <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>

                <span class="fa-stack">
                  
                    
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>

                </span>*@
                <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Home","Login")" onclick="return confirm('Do you Want to Log Out?')">Log Out</a>
                    </li>
            </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->
<br />
<br />
<br />
<a type="button" class="btn btn-dark" href="@Url.Action("CompanyAddNewSubCategory","Company",new {Catid = @TempData["Catid"]})">Add-New</a>
<br /><br />
<table id="details" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Scid</th>
            <th>SubCatname</th>
            <th>SubCatimage</th>
            <th>Description</th>
            <th>PPU</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Scid
                </td>
                <td>
                    @user.Scname
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(user.Scimage))
                    {
                        <img style="width:100px; height:100px;" src="@Url.Content(user.Scimage)">
                    }                    
                    
                </td>
                <td>
                    @user.Scdesc
                </td>
                <td>
                    @user.Scpriceperunit
                </td>

             
                <td>
                    <a type="button" class="btn btn-dark" href="@Url.Action("CompanyEditSubCategory","Company",new {Scid = user.Scid})">Edit</a> &nbsp;
                    <a type="button" class="btn btn-dark" href="@Url.Action("CompanyDeleteSubCategory","Company", new {Scid = user.Scid})" onclick="return confirm('Are you sure to delete?')">Delete</a>  
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
            $(document).ready(function() {
        $('#details').DataTable();
    } );
</script>

